.example-form {
  min-width: 900px;
  max-width: 900px;
  width: 100%;

}


.example-full-width {
  width: 100%;
}
.myDiv {
  border: 5px outset blue;
  background-color: blue;
  text-emphasis-color: blue;
  text-align: center;
}
mat-card {
  max-width: 600px;
  margin: 2em auto;

}

mat-form-field {
  display: block;
}

h3 {
  font-size: 20px;
  color: #847bf7;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin: 0px 50px 0 50px;
  padding-top: -60px;

}
h4 {
  font-size: 15px;
  color: #847bf7;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  padding-top: -60px;

}
.myDiv {
  border: 5px outset purple;
  background-color: purple;
  text-emphasis-color: purple;
  margin: 2em auto;
  text-align: center;
}
mat-card {
  max-width: 500px;
  margin: 2em auto;
  background-color: blue;

}mat-expansion-panel {

  background-color: blue;
}

